body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #d8d8d8;
	padding-top:90px;
}

.wrapper {
	min-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
}

.main-wrapper {
	height: 100%;
	padding: 80px 0px 50px 0px;
}

.main {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0 15px;
}

.badge {
	display: inline-block;
	min-width: 1px;
	padding: 10px 35px 15px 0px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #06a09e;
	border-radius: 4px;
	margin-bottom: 30px;
}

.badge p {
	margin: 0px 0px 0px 12px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand .logo
	{
	width: 240px;
	height: 75px;
}

.navbar-default {
	background-color: #06a09e;
	    background-image: none;
}

.navbar-default .navbar-text {
	color: #fff;
}

.navbar-default .navbar-link {
	color: #fff;
}

.navbar-text {
	margin-top: 15px;
	margin-bottom: 15px;
}

@media ( min-width : 768px) {
	.navbar-text {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 400;
	padding-top: 8px;
	font-size: 15px;
}

.collapse {
	display: none;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: #ffffff00;
	background-image: none;
	border: 2px solid white;
	border-radius: 4px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
}
/* Navbar end*/
.pull-right {
	right: 0;
	left: auto;
	padding-top: 20px;
}

.App-header {
	background-color: #222;
	height: 10px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
	color: #D8D8D8;
}

.App-title a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.App-title button {
	border-radius: 15px;
	background-color: #9a9a9a;
	color: white;
	padding: 0px 12px;
	border: 1px solid #686969;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 4px 2px 3px 1px rgb(193, 192, 192);
}

.App-intro {
	font-size: large;
}

.tour_Details {
	margin-left: 0px;
	margin-top: 10px;
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity = 0);
	opacity: 0;
	line-break: auto;
}

.tooltip-inner {
	max-width: 200px;
	padding: 4px 15px;
	color: #fff;
	text-align: left;
	background-color: #06a09e;
	border-radius: 4px;
	font-size: 14px;
	font-family: georgia;
}

.tooltip.left .tooltip-arrow {
	top: 41%;
	left: 205px;
	margin-top: -5px;
	border-width: 10px 0 10px 14px;
	border-left-color: #4099a7;
}

.tooltip.left {
	padding: 10px 5px;
	margin-left: 8px;
	position: relative;
}

.tour_Details button {
	border-radius: 15px;
	background-color: #9a9a9a;
	color: white;
	padding: 0px 12px;
	border: 1px solid #686969;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 4px 2px 3px 1px rgb(193, 192, 192);
}

.tour_Details a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.tour_Details p {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

.btn {
	display: inline-block;
	padding: 3px 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 6px;
}

.btn-default {
	color: #06a09e;
	background-color: #ffffff;
	border-color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

.half-rule {
	border-top: 2px solid #bdbcbc;
	border-bottom: 2px solid #fff;
}

h4, .h4 {
	font-size: 14px;
	font-weight: bold;
	color: #1d80bb;
}
/*fixedfooter*/
.navbar-fixed-bottom {
	background-color: #06a09e;
	border: 1px solid #e7e7e7;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 14px;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}



/*--Jumbotron--*/
.jumbotron p {
	font-size: 13px;
	font-weight: 200;
	text-align: left;
}

.jumbotron {
	display: inline-block;
	min-width: 1px;
	padding: 10px 35px 20px 15px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #06a09e;
	border-radius: 4px;
	margin-bottom: 30px;
	margin-left: 75px;
}

/*--/Jumbotron--*/

.well {
	min-height: 20px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: #06a09e;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
/*--table--*/
table {
	background-color: transparent;
	width: 100%;
}

#footer{
 background-color: #06a09e;
	border: 1px solid #e7e7e7;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
		font-size: 14px;
 position: fixed;
 bottom: 0px;
    z-index: 1;


}